@model DevTrends.MvcDonutCaching.Demo.Models.ChangePasswordModel

@{
    ViewBag.Title = "Modifier le mot de passe";
}

<h2>Modifier le mot de passe</h2>
<p>
    Utilisez le formulaire ci-dessous pour changer votre mot de passe. 
</p>
<p>
    Les nouveaux mots de passe doivent comporter au minimum @Membership.MinRequiredPasswordLength caractères.
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Échec de la modification du mot de passe. Corrigez les erreurs et réessayez.")
    <div>
        <fieldset>
            <legend>Informations de compte</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Modifier le mot de passe" />
            </p>
        </fieldset>
    </div>
}
