@model DevTrends.MvcDonutCaching.Demo.Models.RegisterModel

@{
    ViewBag.Title = "S'inscrire";
}

<h2>Créer un nouveau compte</h2>
<p>
    Utilisez le formulaire ci-dessous pour créer un nouveau compte. 
</p>
<p>
    Les mots de passe doivent comporter au minimum @Membership.MinRequiredPasswordLength caractères.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Échec de la création du compte. Corrigez les erreurs et réessayez.")
    <div>
        <fieldset>
            <legend>Informations de compte</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="S'inscrire" />
            </p>
        </fieldset>
    </div>
}

