@model DateTime
@{
    ViewBag.Title = "Donut holes demo";
}

<h2>@ViewBag.Title</h2>

<p>
    This page has been rendered at @Model (expires in 24h)
</p>

<div>
    @Html.Action("SimpleDonutOne", true) 
</div>

<p>
    This is again the main page
</p>

<div>
    @Html.Action("SimpleDonutTwo", true)
</div>

<p>
    This is again again the main page
</p>
<button id="btnExpirePage" onclick="expirePageCache();">Expire page cache</button>

<script type="text/javascript">
    var expirePageCache = function () {
        document.getElementById("btnExpirePage").disabled = true;
        //http://stackoverflow.com/a/4122716/208922
        var i = document.createElement("img");
        i.src = "@Url.Action("ExpireSimpleDonutCache")";
    }
    var expireSimpleDonutOneCache = function () {
        document.getElementById("btnExpireDonut").disabled = true;
        //http://stackoverflow.com/a/4122716/208922
        var i = document.createElement("img");
        i.src = "@Url.Action("ExpireSimpleDonutOneCache")";
    }
</script>
